<h1>ShortenedUrls</h1>

<table>
  <tr>
    <th>Original URL</th>
    <th>New URL</th>
    <th>Times Visited</th>
  </tr>
<% ShortenedUrl.all.each do |shortened_url| %>
  <tr>
    <td><%= shortened_url.original_url %></td>
    <td>localhost:3000/<%= shortened_url.new_url %></td>
    <td><%= shortened_url.visit_count %></td>
  </tr>
<% end %>
</table>